# Ignore all IntelliJ project settings
**/.idea/
**/*.iml

# Ignore compiled Java class files
**/out/
**/target/
**/build/
**/bin/
**/*.class

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
**/*.log
**/logs/

*.zip
*.db
StardewValley/core/assets/secrets.properties
